* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/34/32/dd/3432dd271527dc89aa0f1e3154e9036f.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 8.5vmin;
    color: white;
    margin-top: 5vmin;
    margin-bottom: 0;
}

h2 {
    margin: 2vmin 0;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 5vmin;
    color: white;
}

section {
    height: 7vmin;
    width: 50.5vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0.3vmin solid black;
    background-color: lightgrey;
}

section > div {
    height: 4vmin;
    width: 7vmin;
    outline: 0.5vmin solid red;
    margin: 0 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

p {
    font-size: 4vmin;
    color: red;
}

button {
    height: 5vmin;
    width: 5.5vmin;
    background-image: url("https://i.imgur.com/MrS1w9I_d.jpg?maxwidth=520&shape=thumb&fidelity=high");
    background-size: cover;
    background-position: center;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    background-color: lightgrey;
    margin-bottom: 12vmin;
}

main > div {
    outline: 0.3vmin solid black;
}

main > div:hover {
    cursor: pointer;
}